
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";

}

<div class="jumbotron">
    <h2>Bienvenido Administrador</h2>
    <h3>Desde acá podés generar la gestión del sitio!!</h3>
</div>


