@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger"></h1>
<h2 class="text-danger">Actuamente no puede ser procesada la solicitud, por favor intente mas tarde</h2>

<a href="~/Home/Index" title="Volver" class="btn btn-primary">Volver</a>
